apiVersion: v1
kind: PersistentVolume
metadata:
  finalizers:
  - kubernetes.io/pv-protection
  name: traefik-traefik
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 8Gi
  hostPath:
    path: /storage/kubernetes/traefik/traefik-traefik
    type: DirectoryOrCreate
  claimRef:
    namespace: traefik
    name: traefik-traefik
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-storage
  volumeMode: Filesystem
